name: zap_full_scan #Running the OWASP ZAP Full Scan to perform Dynamic Application Security Testing (DAST).
on:
#  push:
#    branches:
#      - main
#  pull_request:
  workflow_call:
  workflow_dispatch:
jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the webapplication
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: main
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@v0.4.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'owasp/zap2docker-stable'
          #target: 'https://www.zaproxy.org/'
          target: 'http://192.168.49.2:30961'
          #rules_file_name: '.zap/rules.tsv'
          cmd_options: '-a'
